
.group{
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.group .joingroup{
  float: left;
}
.group .addgroup{
  float: right;
}
.group-form input{
  background-color: grey;
  padding: 8px;
  border-radius: 3px;
  border: none;
}
.group-form input::placeholder{
  color: white;
}
#groupbtn{
  margin-left: 2px;
  background-color: rgb(235, 173, 39);
  color: white;
  padding-top:8px;
  padding-bottom:8px;
  border-radius: 3px;
  border: none;
  margin-right: 20px;
}
.groupbody{
  width:650px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: auto;  
}
@media screen and (max-width: 600px){
  .groupbody{
    width: 350px;
  }
  .group .joingroup{
    padding-top: 20px;
  }  
}