
.content-sidebar{
  grid-area: sidebar;
  box-sizing: border-box;
  background-color: rgb(238, 184, 68);
  overflow: scroll;
  border-color:rgba(146, 120, 109, 0.247) ;
  border-width: 2px 2px 2px 2px;
  height: 100%;
  max-width: 0px;
  padding: 30px 0;
}
.room{
  padding-top: 20px;
}
.content-sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 100px 0 100px;
}
@media screen and (max-width: 600px){
  .content-sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin: 0 100px 0 100px;
  }
}
.content-sidebar .room{
  
  padding: 20px;
  font-family: "Georgia", serif;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  color: rgba(252, 224, 181, 0.827);
  display: block;
}
.content-sidebar .roombackground:hover{
  background: #f5c187d3; 
  color: black;
}
.room:hover{
  color: #fff;
}
.content-sidebar .roombackground.active {
  background-color:hsla(32, 70%, 77%, 0.827);
  padding-right: 10px ;
  border-radius: 3px;
}
.sidebar .room #roomname{
  color: black ;
  font-family: arial;
  padding-left: 11px;
}
.creategroupe{
  background: white;
  border: 0;
  border-bottom: 1px solid white;
  opacity: .6;
  padding: 5px;
}
.creategroupe input {
  background-color: black;
  opacity: .6;
  width: 50%;
  padding: 8px 40px;
  border: none;
  margin-top: 50px;
  border-radius: 15px;
}
.creategroupe input::placeholder {
  text-align: center;
  color: black;
  border-bottom:none;
  border-width: 1px 1px 1px 1px;
  background-color: grey;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 100px;
  font-weight: 900;
  opacity: 0.6;
}

.content-sidebar .addroom #roomname{
  color: white ;
  font-family: arial;
  padding-left: 11px;
}
.btnside{
  display: block;
  border:none;
  width: 100%;
  background-color: #be9b7f;
  opacity: 0.6;
  font-size: 1rem;
  padding: 15px;
  transition: all 0.7s;
  cursor: pointer;
  margin-top: 20px;
  }
  .btnside span {
    display: inline-block;
    position: relative;
    transition: 0.7s;
  }
  .btnside span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.7s;
  }
  
  .btnside:hover{
    opacity: 1;
  }
  .btnside:hover span {
    padding-right: 25px;
  }
  
  .btnside:hover span:after {
    opacity: 1;
    right: 0;
  }