.chatform  {
    background: lightgreen;
    display: flex;
  }
  .chatform input::placeholder {
    color: black;
  }
  .chatform input {
    width: 90%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: whitesmoke;
    font-weight: 300;
    
  
  }
  #Sbtn{
    width: 10%;
    background: slategray;
    padding: 20px 10px;
    font-size: 13px
  }