html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: 	#3e5869; 
    background-color: rgba(187, 179, 179, 0.432);
  }
  
  #root {
    height: 100%;
  }
  .root1 {
    height: 100%;
  }
  /**********Home Grid**********/
  .app1{
    
    display: grid;
    margin: 0px;
    height: 100%;
    grid-template-columns: 0.02fr 1fr 0.02fr ;
    grid-template-areas:
            ". main .";
  }

  
  /**********Chat Grid**********/
  .app {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 20px;
    grid-template-areas: 
    " header  header     header     header     header      "
    " sidebar chatscreen chatscreen chatscreen chatscreen  "
    " sidebar chatscreen chatscreen chatscreen chatscreen  "
    " sidebar chatscreen chatscreen chatscreen chatscreen  "
    " sidebar chatscreen chatscreen chatscreen chatscreen  "
    " groupe  chatform   chatform   chatform    chatform   ";
  }
    
  .creategroupe {
    grid-area: groupe;
  }

  .header{
    grid-area: header;
  }
  .sidebar {
    grid-area: sidebar;
  }
  
  .messagescreen {
    grid-area: chatscreen;
  }
  
  .chatform {
    grid-area: chatform;
  }



