html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: 	#3e5869; 
    background-color: rgb(236, 236, 236);
  }
  #root {
    height: 100%;
  }
  .root1 {
  width:100%;
  height: 100%;
  background-color:rgb(236, 236, 236);
  }
  /**********Home Grid**********/
  .app1{
    
    display: grid;
    margin: 0px;
    height: 100%;
    grid-template-columns: 0.02fr 1fr 0.02fr ;
    grid-template-areas:
            ". main .";
  }

  
  /**********Chat Grid**********/
  .app {
    display: grid;
    height: 100%;
    grid-template-columns: minmax(min-content, max-content) 1fr 1fr 1fr minmax(min-content, max-content);
    grid-template-rows: 0.3fr 1fr 1fr 1fr 20px;
    grid-template-areas: 
    " header header     header     header     header      "
    " sidebar chatscreen chatscreen chatscreen Roomsetting "
    " sidebar chatscreen chatscreen chatscreen Roomsetting "
    " sidebar chatscreen chatscreen chatscreen Roomsetting "
    " sidebar chatscreen chatscreen chatscreen Roomsetting "
    " sidebar chatform   chatform   chatform   Roomsetting   ";
  }

  .header{
    grid-area: header;
  }
  
  .messagescreen {
    grid-area: chatscreen;
    grid-column: 1/-1;
  }
  
  .chatform {
    grid-area: chatform;
  }
.add-image-icon{
  padding-top: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.add-image-icon-form{
  width: 120px;
}

.bg-modal{
  width:100%;
  height: 100%;
  background-color:rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}




.modal-pop-up{
  width:500px;
  height: 300px;
  border-radius: 15px;
  background-color: rgb(236, 236, 236);
  text-align: center;
  padding: 20px;
  position: relative;

}

.btn{
  font-size: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 0.65em;
  margin: 15px auto;
  display: block;
  cursor: pointer;
  border-radius: 12px;
}

.close{
  position: absolute;
  top:0;
  right: 14px;
  font-size: 42px;
  padding: 10px;
  transform: rotate(45deg);
  cursor: pointer;
}
.invlink{
margin-top: 5%;
}
.createinvinput{

  background-color: grey;
  padding: 8px;
  border-radius: 3px;
  border: none;
}
.createinvinput::placeholder{
  color: white;
}
#copybtn{
 
  margin-left: 2px;
  background-color: #2195F6;
  color: white;
  padding-top:8px;
  padding-bottom:8px;
  border-radius: 3px;
  border: none;
}

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }

  .btn-input{
    cursor: auto;
  }


  .invitebody-model{
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .invitebody{
    width:400px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  .groupbody-model{
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .groupbody{
    width:600px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: scroll;  
  }

  .bg-settings{
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .settings-popup{
    width:500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }