.Photos{
    display:flex;
    flex-wrap: wrap;   
    height: 100%;
    background: linear-gradient(#ffecd2,#fcb69f);
}
.no-photos{
    height: 100%;
    background: linear-gradient(#ffecd2,#fcb69f);
}

.app-name{
    box-sizing: border-box;
    width: 100%;
    font-size: xx-large;
    font-family: italic;
    height: 90px;
    padding-top: 5px;
    text-align: center;
    font-weight: 900;
}

.no-images{
    text-align: center;
    margin: 20%;
    font-size: 2em;
}
.image{
    opacity: 1;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px){
    .image{
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .image-len{
        height: 100px;
    }
}
.image-len{
    max-height: 150px;
}
.image:hover{
    color: black;
    cursor: pointer;
    opacity: 0.3;
}