.chatform  {
  background: rgb(236, 236, 236);
  display: flex;
}
.chatform input::placeholder {
  color: rgba(0, 0, 0, 0.692);
}
.chatform input {
  width: 90%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: rgb(245, 245, 245);
  font-weight: 300;
  border-radius: 35px;

}
#Sbtn{
  width: 10%;
  background: rgb(245, 245, 245);
  padding: 20px 10px;
  font-size: 13px;
  font-weight: 900;
  color: #2195F6;
  border: none;
  border-radius: 35px;
}