
.group{
  margin-top: 10%;
}
.group .joingroup{
  float: left;
}
.group .addgroup{
  float: right;
}
.group-form input{
  background-color: grey;
  padding: 8px;
  border-radius: 3px;
  border: none;
}
.group-form input::placeholder{
  color: white;
}
#groupbtn{
  margin-left: 2px;
  background-color: #2195F6;
  color: white;
  padding-top:8px;
  padding-bottom:8px;
  border-radius: 3px;
  border: none;
}
