.header{
  box-sizing: border-box;
  background:#F9F9F9;
  border-bottom: 2px;
  font-size: large;
  background: #F9F9F9;
  border-bottom-style:solid;
  border-color:rgba(146, 120, 109, 0.199) ;
  border-width: 2px 2px 2px 2px;
  height: 90px;
}
.crown-height{
  height: 30px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .title{
  padding-top: 5px;
  text-align: center;
  font-weight: 900;
}
.settingicon{
  padding-right: 10px;
 float: right;
}

.allpicture{
  float:right;
}


.allpicture .photoicon{
  visibility: hidden;
  font-weight: 30;
  font-size: 12px;
  width: 60px;
  height:15px ;
  opacity: 0.4;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 52px;
  margin-left: -49px;
}
.allpicture .photoicon::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
 
}
.allpicture:hover .photoicon {
  visibility: visible;
}
.createinvicon{
  float: right;
  padding-right: 1px;
}
.createinvicon .tooltiptext {
  visibility: hidden;
  font-weight: 30;
  font-size: 12px;
  width: 90px;
  height:15px ;
  opacity: 0.4;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 52px;
  margin-left: -30px;
  
}
.createinvicon:hover .tooltiptext {
  visibility: visible;
}

.settingicon .tooltiptext {
  visibility: hidden;
  font-weight: 30;
  font-size: 12px;
  width: 60px;
  height:15px ;
  opacity: 0.4;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 52px;
  margin-left: -15px;
  
}

.settingicon:hover .tooltiptext {
  visibility: visible;
}

.tabicon{
  padding-left: 10px;
  float: left;
}
