.Message {
  margin: 15px 0;
  padding-bottom: 9px;
  
}
.userMessage{
  text-align: right;
  padding-right: 9px;
  padding-bottom: 9px;
}
.Message .message-name{
  font-size: 15px;
  color: rgb(162, 163, 163);
  opacity: 0.9;
  
  margin-left: 5px;
  margin-top: 9px;
}
.user-pic{
  width: 100%;
  height: 50px;
}
.message-name:hover{
  cursor: pointer;
}
.tooltip2{
  padding-right: 50px;
  float: right;
}
.tooltip2 .tooltip2text {
  visibility: hidden;
  font-weight: 30;
  font-size: 12px;
  width: 200px;
  height:150px ;
  opacity: 0.4;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-left: -65px;
}

.tooltip2:hover .tooltip2text {
  visibility: visible;
}
  .Message .message-time{
    font-size: 8px;
    color: rgb(162, 163, 163);
    opacity: 0.9;
    margin-bottom: 9px;
    margin-left: 5px;
    margin-top: 1px;

}
.Message .message-text{
    background:lightgrey;
    color: black;
    display: inline;
    padding: 3px 10px;
    border-radius: 9px;

}
/*****/
.userMessage .message-name{
  font-size: 15px;
  color: rgb(162, 163, 163);
  opacity: 0.9;
  
  margin-right: 5px;
  margin-top: 9px;

}

  .userMessage .message-time{
    font-size: 8px;
    color: rgb(162, 163, 163);
    opacity: 0.9;
    margin-bottom: 9px;
    margin-right: 5px;
    margin-top: 1px;

}
.userMessage .message-text{
  background:#2195F6;
  color: white;
    display: inline;
    padding: 3px 10px;
    border-radius: 9px;
    
}


.event-message {
  text-align: center;
  color: grey;
  font-size: 10px;
}

.sent-image{
  width:250px;

}
