.messagescreen{
    
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background:rgb(236, 236, 236);

}
.messagescreen .noroom{
    padding-top:25%;
    text-align: center;
    font-size: 100%; 
    font-weight: 900;
}