.messagescreen{
    
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

}
.messagescreen .noroom{
    padding-top:25%;
    text-align: center;
    font-size: 100%; 
    font-weight: 900;
}