.Message {
  margin: 15px 0;
  padding-bottom: 9px;
}
.userMessage{
  text-align: right;
  padding-right: 9px;
  padding-bottom: 9px;
}
.Message .message-name{
  font-size: 15px;
  color: rgb(162, 163, 163);
  opacity: 0.9;
  
  margin-left: 5px;
  margin-top: 9px;


}

  .Message .message-time{
    font-size: 8px;
    color: rgb(162, 163, 163);
    opacity: 0.9;
    margin-bottom: 9px;
    margin-left: 5px;
    margin-top: 1px;

}
.Message .message-text{
    background:lightgrey;
    color: black;
    display: inline;
    padding: 3px 10px;
    border-radius: 9px;

}
/*****/
.userMessage .message-name{
  font-size: 15px;
  color: rgb(162, 163, 163);
  opacity: 0.9;
  
  margin-right: 5px;
  margin-top: 9px;

}

  .userMessage .message-time{
    font-size: 8px;
    color: rgb(162, 163, 163);
    opacity: 0.9;
    margin-bottom: 9px;
    margin-right: 5px;
    margin-top: 1px;

}
.userMessage .message-text{
  background:#2195F6;
  color: white;
    display: inline;
    padding: 3px 10px;
    border-radius: 9px;
    
}


.event-message {
  text-align: center;
  color: grey;
  font-size: 10px;
}

.sent-image{
  width:250px;

}
