@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.sidebar {
  box-sizing: border-box;
  background: #F9F9F9;
  border-right-style:solid;
  border-color:rgba(146, 120, 109, 0.247) ;
  border-width: 2px 2px 2px 2px;
  height: 100%;
  transition: all 500ms linear;
}

.content-sidebar{
  grid-area: sidebar;
  box-sizing: border-box;
  background-color: rgb(238, 184, 68);
 overflow: scroll;
  border-color:rgba(146, 120, 109, 0.247) ;
  border-width: 2px 2px 2px 2px;
  height: 100%;
  max-width: 0;
  padding: 30px 0;
}
.room{
  padding-top: 20px;
}
.content-sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;

}
@media only screen and (max-width: 600px){
  .content-sidebar{
    grid-column: 1/-1;
    box-sizing: content-box;
  }
  .content-sidebar .room{
    text-align: center;
  }
}
.content-sidebar .room{
  
  padding: 20px;
  font-family: "Georgia", serif;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 100px;
  color: rgba(252, 224, 181, 0.827);
  display: block;
}
.content-sidebar .roombackground:hover{
  background: #f5c187d3; 
  color: black;
}
.room:hover{
  color: #fff;
}
.content-sidebar .roombackground.active {
  background-color:hsla(32, 70%, 77%, 0.827);
  padding-right: 10px ;
  border-radius: 3px;
  opacity: 1;
  
}
.sidebar .room #roomname{
  color: black ;
  font-family: arial;
  padding-left: 11px;
}
.creategroupe{
  background: white;
  border: 0;
  border-bottom: 1px solid white;
  opacity: .6;
  padding: 5px;
}
.creategroupe input {
  background-color: black;
  opacity: .6;
  width: 50%;
  padding: 8px 40px;
  border: none;
  margin-top: 50px;
  border-radius: 15px;
}
.creategroupe input::placeholder {
  text-align: center;
  color: black;
}


